.hackathon-red-box{
    display: inline-block;
    padding: 10px 45px;
    background-color: #fb1004;
    border-radius: 0;
    margin-top: 15px;
    text-decoration: none;
    color: #ffffff;
}
.hackathon-red-box:hover{
    background-color: #650500;
    color: #ffffff;
}